.home_screen_bg {
  background-image: url("../assests/background_image.png");
  height: 90vh;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}
.service_card_img {
  max-width: 100%;
  border-radius: 5%;
  max-height: 30vh;
}

.button_style {
  width: 295px;
  height: 55px;
  background: #01a0e1;
  box-shadow: 0px 0px 30px rgba(3, 161, 226, 0.8);
  border-radius: 100px;
  color: white;
}
