.navbar-text {
  color: #a59e9d;
}

.logo {
  width: 7vw;
}

.nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-container-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.nav-container-li {
  float: left;
}

.nav-container-li-a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav-container-li-a:hover {
  background-color: #111111;
}
